
.idea/.name

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

.idea/zlm-cython.iml

*.so

*.o

src/zlm_python_pyx.h

src/zlm_python_pyx.c

src/python.cfg

.idea/dictionaries/gandalf.xml
